USE [master]
GO
/****** Object:  Database [DailyReportDB]    Script Date: 9/4/2025 12:39:25 PM ******/
CREATE DATABASE [DailyReportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DailyReportDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DailyReportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DailyReportDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\DailyReportDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DailyReportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DailyReportDB]
GO
/****** Object:  Table [dbo].[DailyReportFact]    Script Date: 9/4/2025 12:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReportFact](
	[ReportDate] [date] NOT NULL,
	[Section] [varchar](40) NOT NULL,
	[SubSection] [varchar](60) NOT NULL,
	[Item] [varchar](120) NOT NULL,
	[MeasureGroup] [varchar](40) NOT NULL,
	[MeasureName] [varchar](40) NOT NULL,
	[ValueNum] [decimal](18, 4) NULL,
	[ValueText] [nvarchar](200) NULL,
	[Unit] [varchar](20) NULL,
	[SortSection] [int] NULL,
	[SortSubSection] [int] NULL,
	[SortItem] [int] NULL,
	[SortMeasure] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[Oracle_C1] [decimal](18, 4) NULL,
	[Oracle_C2] [decimal](18, 4) NULL,
 CONSTRAINT [PK_DailyReportFact] PRIMARY KEY CLUSTERED 
(
	[ReportDate] ASC,
	[Section] ASC,
	[SubSection] ASC,
	[Item] ASC,
	[MeasureGroup] ASC,
	[MeasureName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DRF_ReportDate]    Script Date: 9/4/2025 12:39:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_DRF_ReportDate] ON [dbo].[DailyReportFact]
(
	[ReportDate] ASC,
	[Section] ASC,
	[SubSection] ASC,
	[Item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyReportFact]  WITH CHECK ADD  CONSTRAINT [CK_DRF_Section] CHECK  (([Section]='NullEmpty' OR [Section]='Others' OR [Section]='UsedBatteries' OR [Section]='Storage' OR [Section]='PickingDelivery' OR [Section]='GoodsReceiving'))
GO
ALTER TABLE [dbo].[DailyReportFact] CHECK CONSTRAINT [CK_DRF_Section]
GO
/****** Object:  StoredProcedure [dbo].[BuildDailyReport]    Script Date: 9/4/2025 12:39:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BuildDailyReport]
    @ReportDate date,
    @Mode varchar(20) = 'PLACEHOLDER'   -- PLACEHOLDER | COPY_PREV
AS
BEGIN
  SET NOCOUNT ON;

  -- Always make the operation idempotent
  DELETE FROM dbo.DailyReportFact WHERE ReportDate = @ReportDate;

  IF @Mode = 'COPY_PREV'
  BEGIN
    DECLARE @Prev date;
    SELECT @Prev = MAX(ReportDate) FROM dbo.DailyReportFact WHERE ReportDate < @ReportDate;
    IF @Prev IS NULL RETURN;

    INSERT dbo.DailyReportFact
    (ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,ValueText,Unit,
     SortSection,SortSubSection,SortItem,SortMeasure,Remarks)
    SELECT @ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,ValueText,Unit,
           SortSection,SortSubSection,SortItem,SortMeasure,Remarks
    FROM dbo.DailyReportFact
    WHERE ReportDate = @Prev;

    RETURN;
  END

  /* ==============================
     PLACEHOLDER rows (replace later)
     ============================== */

  -- Goods Receiving → Tire Containers
  INSERT dbo.DailyReportFact
  (ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,
   SortSection,SortSubSection,SortItem,SortMeasure)
  VALUES
  (@ReportDate,'GoodsReceiving','TireContainers','NoOfContainers','QTY','Qty',1, 1,2,1,1),
  (@ReportDate,'GoodsReceiving','TireContainers','NoOfContainers','MTD','Qty',1, 1,2,1,2);

  -- Picking & Delivery → Picking → Tires
  INSERT dbo.DailyReportFact
  (ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,
   SortSection,SortSubSection,SortItem,SortMeasure)
  VALUES
  (@ReportDate,'PickingDelivery','Picking','Tires','Picking','Line',10, 2,1,1,1),
  (@ReportDate,'PickingDelivery','Picking','Tires','Picking','Qty',229, 2,1,1,2),
  (@ReportDate,'PickingDelivery','Picking','Tires','MTD_Picking','Line',10, 2,1,1,3),
  (@ReportDate,'PickingDelivery','Picking','Tires','MTD_Picking','Qty',229, 2,1,1,4);

  -- Storage → In Stock (Battery) → Recharged(Stock)
  INSERT dbo.DailyReportFact
  (ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,
   SortSection,SortSubSection,SortItem,SortMeasure)
  VALUES
  (@ReportDate,'Storage','InStock_Battery','Recharged(Stock)','Unnamed1','Value',466, 3,4,3,1),
  (@ReportDate,'Storage','InStock_Battery','Recharged(Stock)','Unnamed2','Value',466, 3,4,3,2);

  -- Others → Pickup Loading
  INSERT dbo.DailyReportFact
  (ReportDate,Section,SubSection,Item,MeasureGroup,MeasureName,ValueNum,
   SortSection,SortSubSection,SortItem,SortMeasure)
  VALUES
  (@ReportDate,'Others','PickupLoading','01TonPickup','Unnamed1','Value',2, 5,1,1,1),
  (@ReportDate,'Others','PickupLoading','01TonPickup','Unnamed2','Value',2, 5,1,1,2);
END
GO
USE [master]
GO
